rules_version = '2';
service cloud.firestore {

//Functions
    function isSignedIn() {
      return request.auth != null;

    }
  match /databases/{database}/documents {
    match /{document=**} {
      	allow read, write: if isSignedIn();        
    }
  }
}

